In [1]:
import pandas as pd

In [2]:
goog = pd.read_csv('GOOG.csv')

In [4]:
goog

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-01-03,89.830002,91.550003,89.019997,89.699997,89.699997,20738500
1,2023-01-04,91.010002,91.239998,87.800003,88.709999,88.709999,27046500
2,2023-01-05,88.070000,88.209999,86.559998,86.769997,86.769997,23136100
3,2023-01-06,87.360001,88.470001,85.570000,88.160004,88.160004,26612600
4,2023-01-09,89.195000,90.830002,88.580002,88.800003,88.800003,22996700
...,...,...,...,...,...,...,...
245,2023-12-22,142.130005,143.250000,142.054993,142.720001,142.720001,18494700
246,2023-12-26,142.979996,143.945007,142.500000,142.820007,142.820007,11170100
247,2023-12-27,142.830002,143.320007,141.050995,141.440002,141.440002,17288400
248,2023-12-28,141.850006,142.270004,140.828003,141.279999,141.279999,12192500
249,2023-12-29,140.679993,141.434998,139.899994,140.929993,140.929993,14872700

In [5]:
max_goo = max(goog['Adj Close'])

In [6]:
max_goo

142.820007

In [7]:
min_goo = min(goog['Adj Close'])

In [8]:
min_goo

86.769997

In [9]:
(max_goo - min_goo) / max_goo

0.392452088312809

In [10]:
jpm = pd.read_csv('JPM.csv')

In [11]:
jpm

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-01-03,135.240005,136.740005,133.889999,135.119995,129.648514,11054800
1,2023-01-04,135.990005,137.679993,135.570007,136.380005,130.857468,11687600
2,2023-01-05,135.660004,135.710007,133.699997,135.350006,130.828491,8381300
3,2023-01-06,136.130005,138.380005,134.490005,137.940002,133.331940,10029100
4,2023-01-09,138.600006,138.880005,136.880005,137.369995,132.781006,8482300
...,...,...,...,...,...,...,...
245,2023-12-22,167.500000,168.229996,167.229996,167.399994,165.409225,6574900
246,2023-12-26,167.460007,168.770004,167.179993,168.389999,166.387451,4683600
247,2023-12-27,167.839996,169.470001,167.580002,169.399994,167.385437,6428600
248,2023-12-28,169.350006,170.660004,169.000000,170.300003,168.274734,6320100
249,2023-12-29,170.000000,170.690002,169.630005,170.100006,168.077118,6431800

In [12]:
max_jpm = max(jpm['Adj Close'])

In [13]:
max_jpm

168.274734

In [14]:
min_jpm = min(jpm['Adj Close'])

In [15]:
min_jpm

120.737244

In [16]:
(max_jpm - min_jpm) / max_jpm

0.2824992728854945

In [17]:
sr = pd.read_csv('2222.SR.csv')

In [18]:
sr

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-01-01,29.227272,29.454544,29.181818,29.454544,28.475794,1569087
1,2023-01-02,29.545454,29.545454,29.227272,29.227272,28.256073,4693364
2,2023-01-03,29.227272,29.227272,29.227272,29.227272,28.256073,0
3,2023-01-04,29.181818,29.227272,28.681818,28.818180,27.860575,4618455
4,2023-01-05,28.818180,28.818180,28.363636,28.681818,27.728743,4797670
...,...,...,...,...,...,...,...
243,2023-12-24,32.950001,33.099998,32.849998,33.000000,32.828049,12165552
244,2023-12-25,33.000000,33.099998,32.849998,33.099998,32.927525,15869070
245,2023-12-26,33.049999,33.099998,32.900002,33.049999,32.877789,14598967
246,2023-12-27,33.099998,33.250000,33.000000,33.150002,32.977268,14815683
247,2023-12-28,33.150002,33.250000,32.950001,33.049999,32.877789,12720450