In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('GDPC1.csv')

In [3]:
data.head()

         DATE     GDPC1
0  1947-01-01  2182.681
1  1947-04-01  2176.892
2  1947-07-01  2172.432
3  1947-10-01  2206.452
4  1948-01-01  2239.682

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    308 non-null    object
 1   GDPC1   308 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.7+ KB

In [8]:
data['correct_DATE'] = pd.to_datetime(data['DATE'])

In [9]:
data.head()

         DATE     GDPC1 correct_DATE
0  1947-01-01  2182.681   1947-01-01
1  1947-04-01  2176.892   1947-04-01
2  1947-07-01  2172.432   1947-07-01
3  1947-10-01  2206.452   1947-10-01
4  1948-01-01  2239.682   1948-01-01

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DATE          308 non-null    object
 1   GDPC1         308 non-null    float64
 2   correct_DATE  308 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 6.1+ KB

In [12]:
data['2023'] = data['correct_DATE'].dt.strftime('%Y') == '2023'

In [13]:
data.head()

         DATE     GDPC1 correct_DATE   2023
0  1947-01-01  2182.681   1947-01-01  False
1  1947-04-01  2176.892   1947-04-01  False
2  1947-07-01  2172.432   1947-07-01  False
3  1947-10-01  2206.452   1947-10-01  False
4  1948-01-01  2239.682   1948-01-01  False

In [14]:
data

           DATE      GDPC1 correct_DATE   2023
0    1947-01-01   2182.681   1947-01-01  False
1    1947-04-01   2176.892   1947-04-01  False
2    1947-07-01   2172.432   1947-07-01  False
3    1947-10-01   2206.452   1947-10-01  False
4    1948-01-01   2239.682   1948-01-01  False
..          ...        ...          ...    ...
303  2022-10-01  21989.981   2022-10-01  False
304  2023-01-01  22112.329   2023-01-01   True
305  2023-04-01  22225.350   2023-04-01   True
306  2023-07-01  22490.692   2023-07-01   True
307  2023-10-01  22679.255   2023-10-01   True

[308 rows x 4 columns]

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DATE          308 non-null    object
 1   GDPC1         308 non-null    float64
 2   correct_DATE  308 non-null    datetime64[ns]
 3   2023          308 non-null    bool
dtypes: bool(1), datetime64[ns](1), float64(1), object(1)
memory usage: 6.4+ KB

In [16]:
data.describe()

              GDPC1
count    308.000000
mean    9968.226760
std     6050.960064
min     2172.432000
25%     4744.006500
50%     8539.503500
75%    15552.184250
max    22679.255000

In [17]:
sr = pd.read_csv('2222.SR.csv')

In [20]:
sr_max = max(sr['Adj Close'])

In [21]:
sr_min = min(sr['Adj Close'])

In [24]:
(sr_max - sr_min) / sr_max

0.21393072964385831

In [25]:
sr

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-01-01,29.227272,29.454544,29.181818,29.454544,28.475794,1569087
1,2023-01-02,29.545454,29.545454,29.227272,29.227272,28.256073,4693364
2,2023-01-03,29.227272,29.227272,29.227272,29.227272,28.256073,0
3,2023-01-04,29.181818,29.227272,28.681818,28.818180,27.860575,4618455
4,2023-01-05,28.818180,28.818180,28.363636,28.681818,27.728743,4797670
...,...,...,...,...,...,...,...
243,2023-12-24,32.950001,33.099998,32.849998,33.000000,32.828049,12165552
244,2023-12-25,33.000000,33.099998,32.849998,33.099998,32.927525,15869070
245,2023-12-26,33.049999,33.099998,32.900002,33.049999,32.877789,14598967
246,2023-12-27,33.099998,33.250000,33.000000,33.150002,32.977268,14815683
247,2023-12-28,33.150002,33.250000,32.950001,33.049999,32.877789,12720450

In [26]:
brk = pd.read_csv('BRK-B.csv')

In [27]:
brk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       250 non-null    object
 1   Open       250 non-null    float64
 2   High       250 non-null    float64
 3   Low        250 non-null    float64
 4   Close      250 non-null    float64
 5   Adj Close  250 non-null    float64
 6   Volume     250 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 12.8+ KB

In [28]:
max_brk = max(brk['Adj Close'])

In [29]:
max_brk

370.480011

In [32]:
min_brk = min(brk['Adj Close'])

In [33]:
min_brk

293.51001

In [34]:
(max_brk - min_brk) / max_brk

0.20775750030951054

In [35]:
aapl = pd.read_csv('AAPL.csv')

In [36]:
aapl

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-01-03,130.279999,130.899994,124.169998,125.070000,124.216301,112117500
1,2023-01-04,126.889999,128.660004,125.080002,126.360001,125.497498,89113600
2,2023-01-05,127.129997,127.769997,124.760002,125.019997,124.166641,80962700
3,2023-01-06,126.010002,130.289993,124.889999,129.619995,128.735245,87754700
4,2023-01-09,130.470001,133.410004,129.889999,130.149994,129.261627,70790800
...,...,...,...,...,...,...,...
245,2023-12-22,195.179993,195.410004,192.970001,193.600006,193.353287,37122800
246,2023-12-26,193.610001,193.889999,192.830002,193.050003,192.803986,28919300
247,2023-12-27,192.490005,193.500000,191.089996,193.149994,192.903839,48087700
248,2023-12-28,194.139999,194.660004,193.169998,193.580002,193.333298,34049900
249,2023-12-29,193.899994,194.399994,191.729996,192.529999,192.284637,42628800

In [37]:
max_aapl = max(aapl['Adj Close'])

In [38]:
max_aapl

197.857529

In [39]:
min_aapl = min(aapl['Adj Close'])

In [40]:
min_aapl

124.166641

In [41]:
(max_aapl - min_aapl) / max_aapl

0.3724441944284061

In [42]:
msft = pd.read_csv('MSFT.csv')

In [43]:
msft

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-01-03,243.080002,245.750000,237.399994,239.580002,237.036026,25740000
1,2023-01-04,232.279999,232.869995,225.960007,229.100006,226.667297,50623400
2,2023-01-05,227.199997,227.550003,221.759995,222.309998,219.949387,39585600
3,2023-01-06,223.000000,225.759995,219.350006,224.929993,222.541534,43613600
4,2023-01-09,226.449997,231.240005,226.410004,227.119995,224.708282,27369800
...,...,...,...,...,...,...,...
245,2023-12-22,373.679993,375.179993,372.709991,374.579987,373.888580,17091100
246,2023-12-26,375.000000,376.940002,373.500000,374.660004,373.968445,12673100
247,2023-12-27,373.690002,375.059998,372.809998,374.070007,373.379547,14905400
248,2023-12-28,375.369995,376.459991,374.160004,375.279999,374.587280,14327000
249,2023-12-29,376.000000,377.160004,373.480011,376.040009,375.345886,18723000

In [44]:
max_ms = max(msft['Adj Close'])

In [45]:
max_ms

381.993622

In [46]:
min_ms = min(msft['Adj Close'])

In [47]:
min_ms

219.949387

In [48]:
(max_ms - min_ms) / max_ms

0.4242066507592109

In [ ]:
goog = pd.read_csv('GOOG.csv')