In [ ]:
import pandas as pd
import numpy as np

In [2]:
data_1 = pd.read_csv('DGS2.csv')

In [3]:
data_2 = pd.read_csv('DGS10.csv')

In [9]:
data_1.head()

         DATE  DGS2
0  2019-04-18  2.38
1  2019-04-19     .
2  2019-04-22  2.38
3  2019-04-23  2.36
4  2019-04-24  2.32

In [10]:
data_2.head()

         DATE DGS10
0  2019-04-18  2.57
1  2019-04-19     .
2  2019-04-22  2.59
3  2019-04-23  2.57
4  2019-04-24  2.53

In [11]:
data = data_1.join(data_2, how='outer', lsuffix='_df1', rsuffix='_df2')

In [12]:
 data.head()

     DATE_df1  DGS2    DATE_df2 DGS10
0  2019-04-18  2.38  2019-04-18  2.57
1  2019-04-19     .  2019-04-19     .
2  2019-04-22  2.38  2019-04-22  2.59
3  2019-04-23  2.36  2019-04-23  2.57
4  2019-04-24  2.32  2019-04-24  2.53

In [13]:
data.shape

(1306, 4)

In [14]:
data_1.shape

(1306, 2)

In [15]:
data_2.shape

(1306, 2)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1306 entries, 0 to 1305
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DATE_df1  1306 non-null   object
 1   DGS2      1306 non-null   object
 2   DATE_df2  1306 non-null   object
 3   DGS10     1306 non-null   object
dtypes: object(4)
memory usage: 20.5+ KB

In [23]:
data['DGS10'] = data['DGS10'].replace('.', np.nan)

In [24]:
data['DGS10'] = data['DGS10'].astype(float)

In [27]:
data['DGS2'] = data['DGS2'].replace('.', np.nan)

In [28]:
data['DGS2'] = data['DGS2'].astype(float)

In [29]:
data['DGS10 - DGS2'] = data['DGS10'] - data['DGS2']

In [30]:
data.head()

     DATE_df1  DGS2    DATE_df2  DGS10  DGS10 - DGS2
0  2019-04-18  2.38  2019-04-18   2.57          0.19
1  2019-04-19   NaN  2019-04-19    NaN           NaN
2  2019-04-22  2.38  2019-04-22   2.59          0.21
3  2019-04-23  2.36  2019-04-23   2.57          0.21
4  2019-04-24  2.32  2019-04-24   2.53          0.21

In [31]:
min(data['DGS10 - DGS2'])

-1.0800000000000005

In [33]:
mxx = pd.read_csv('^MXX.csv')

In [34]:
mxx

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-04-09,45346.828125,45346.828125,44854.531250,45151.628906,45151.628906,191575000
1,2019-04-10,45204.750000,45219.410156,44850.109375,44909.140625,44909.140625,145314900
2,2019-04-11,44872.531250,44966.500000,44373.488281,44580.058594,44580.058594,109090000
3,2019-04-12,44767.671875,44888.699219,44534.378906,44686.058594,44686.058594,143662400
4,2019-04-15,44649.738281,44900.929688,44347.531250,44625.781250,44625.781250,108627100
...,...,...,...,...,...,...,...
1253,2024-04-02,57593.621094,57830.878906,57235.589844,57581.808594,57581.808594,180753600
1254,2024-04-03,57547.191406,58086.421875,57300.109375,57503.390625,57503.390625,189285300
1255,2024-04-04,57539.468750,58219.500000,57514.179688,57882.761719,57882.761719,184739700
1256,2024-04-05,57805.191406,58227.839844,57678.609375,58092.441406,58092.441406,212252300
1257,2024-04-08,58021.660156,58192.320313,57749.441406,57989.941406,57989.941406,154641800

In [1]:
sr = pd.read_csv('2222.SR.csv')

<class 'NameError'>: name 'pd' is not defined

In [36]:
sr.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  2023-04-25  31.545454  32.727272  31.500000  32.727272  31.962404  5402.0
1  2023-04-26  32.727272  32.863636  32.272728  32.727272  31.962404  1100.0
2  2023-04-27  32.318180  32.863636  32.318180  32.727272  31.962404  1467.0
3  2023-04-30  32.772728  33.181816  32.772728  33.000000  32.228760  3564.0
4  2023-05-01  33.000000  33.136364  32.727272  32.772728  32.006798  1413.0

In [37]:
sr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       248 non-null    object
 1   Open       247 non-null    float64
 2   High       247 non-null    float64
 3   Low        247 non-null    float64
 4   Close      247 non-null    float64
 5   Adj Close  247 non-null    float64
 6   Volume     247 non-null    float64
dtypes: float64(6), object(1)
memory usage: 12.7+ KB

In [42]:
max_sr = max(sr['Adj Close'])

In [43]:
min_sr = min(sr['Adj Close'])

In [ ]:
(max_sr - min_sr) / max_sr